body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#fotoperfil {
    max-width: -webkit-fill-available;

}

.ListaContato {
    padding: 7px;
}

.ItensContato {
    display: inline-flex;
    word-break: break-all;
    margin: 7px 7px;
    align-items: center;
}

.ItensContato>a {
    margin-left: 20px;
    color: white;
}

.subtitulo {
    background-color: #36C8E2;
    /* background-color: #3A41E5; */
    padding: 15px 15px;
    width: 70%;
    text-align: center;
}

.subtitulo h3 span {
    width: 100%;
}

.subtitulo span {
    padding-left: 10px;
}

.pagina {
    height: 29.7cm;
    width: 21cm;
    /* border-style: groove; */
    /* background-color: #ECECEC; */
    color: #3B40E7;
    /* padding: 3cm 2cm 2cm 3cm; */
    /* background-color: #ECF3FF; */
}

.CorpoDaPagina,
.HistoricoProfissional {
    display: flex;
}

.LadoEsquerdo {
    /* border-style: groove; */
    width: 6cm;
    word-wrap: break-word;
    background-color: #353067;
    color: white;
    position: relative;
}

.LadoDireito {
    margin-left: 0.4cm;
    margin-right: 1cm;
    /* border-style: groove; */
    width: 14cm;
    height: max-content;
}

.HPLadoesquerdo {
    width: 50%;
}

.HPLadoDireito {
    width: 50%;
}

.NomeDaFuncao {
    font-size: 20px;
    /* font-style: ; */
    font-weight: bold;
}

.NomeDaEmpresa,
.PeriodoDoTrabalho {
    font-size: small;
    font-style: italic;
}

.NomeDaInstituicao {
    font-size: larg;
    font-weight: bold;
}

.secao {
    border-width: 0 0 1 0;
    border: 2px solid white;
    border-bottom-color: black;
    margin: 0;
    padding: 0;
}